@media (min-width: 0px) and (max-width: 1695px) {
  .filter .byName,
  .byStatus,
  .byGender {
    display: inline-block;
    font-size: 1.5rem;
  }

  .filter select {
    font-size: 1rem;
  }
}
@media (min-width: 1900px) and (max-width: 2200px) {
  .filter {
    font-size: 2rem;
  }

  .filter select {
    width: 55%;
    height: 40px;
    font-size: 1.6rem;
  }

  .filter .byName input {
    width: 30%;
    height: 40px;
  }
}
@media (min-width: 2205px) and (max-width: 2600px) {
  .filter .byName,
  .byStatus,
  .byGender {
    display: inline-block;
    font-size: 3rem;
  }

  .filter {
    font-size: 3rem;
  }

  .filter select {
    width: 55%;
    height: 40px;
    font-size: 1.6rem;
  }

  .filter .byName input {
    width: 40%;
    height: 30px;
  }
}

.filter {
  height: 250%;
  font-weight: normal;

  color: rgb(227, 236, 243);
  background-color: hsl(222, 25%, 34%);
  text-shadow: none;
}

.filter .filters {
  display: grid;
  grid-template-areas: "status genders" "name name";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 20px;
  align-items: end;
}

.filter select {
  display: inline;
  max-width: 300px;
  /* margin-bottom: 2%; */
  font-weight: bold;

  color: #fff;
  background-color: #1a1f2c;
  border: 6px inset #54658d;
}

.filter select option {
  font-weight: bold;
}

.filter .title {
  background-color: #404d6b;
}

.filter .byGender {
  grid-area: genders;
}

.filter .byName {
  grid-area: name;
}

.filter .byName input {
  font-weight: bold;

  color: #fff;
  background-color: #1a1f2c;
  border: 6px inset #54658d;
}

.filter .byName .search {
  margin-left: 20px;
  cursor: pointer;

  background: #fff;
  border: none;
}

.filter .byStatus {
  grid-area: status;
}