.filter {
  height: 250%;
  font-size: 80%;
  font-weight: normal;

  color: rgb(227, 236, 243);
  background-color: hsl(222, 25%, 34%);
  text-shadow: none;
}

.filter .filters {
  display: grid;
  grid-template-areas: "status genders" "name name";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 20px;
  align-items: end;
}

.filter select {
  display: inline;
  width: 60%;
  max-width: 350px;
  margin-bottom: 2%;
  font-weight: bold;

  color: #fff;
  background-color: #1a1f2c;
  border: 6px inset #54658d;
}

.filter select option {
  font-weight: bold;
}

.filter .title {
  background-color: #404d6b;
}

.filter .byName,
.byStatus,
.byGender {
  display: inline-block;
  font-size: 65%;
}

.filter .byGender {
  grid-area: genders;
}

.filter .byName {
  grid-area: name;
}

.filter .byName input {
  font-weight: bold;

  color: #fff;
  background-color: #1a1f2c;
  border: 6px inset #54658d;
}

.filter .byName .search {
  margin-left: 20px;
  cursor: pointer;

  background: #fff;
  border: none;
}

.filter .byStatus {
  grid-area: status;
}
