.header {
  grid-area: header;
  font-size: 200%;
  font-weight: bold;

  color: rgb(227, 236, 243);
  text-shadow: 0 0 30px #3a0155;
  background-color: #404d6b;
  box-shadow: 0 0 10px 7px #1e2431;
}

