.app-wrapper {
  display: grid;
  grid-template-rows: 1fr 9fr 1fr 1fr;
  grid-template-columns: 6fr 3fr;
  grid-template-areas: 'header header' 'cardsContent rick' 'pagination rick' 'footer rick';
  position: fixed;
  width: 100vw;
  height: 100vh;
  text-align: center;

  background-color: #212837;
}

.forRick {
  grid-area: rick;
}

.forRick .rick {
  height: 100%;
  width: 100%;
}
